@import '../../../styles/colors.module.scss';
@import '../../../styles/fonts.scss';

*{
    scroll-behavior: smooth;
}
.section    {
    display: flex;
    flex-direction: row;
    height: 294px;
    margin-top: 102px;
    margin-bottom: 102px;
    width: 100%;
}

.aboutImage   {
    width: 50%;
}

.image  {
    width: 100%;
}


.aboutTile  {
    color: $darkGreen;
    font-family: $pd;
    font-size: 36px;
    font-weight: 100;
    width: 160px;
}

.aboutSection   {
    padding-left: 50px;
    width: 45%;
}

.description    {
    font-family: $nunito;
    font-size: 24px;
    width: 80%;
}


.pageIndicator  {
    background-color: $vivaceGreen;
    margin-left: 100px;
    height: 294px;
    width: 52px;
}

.button {
    background-color: $goldie;
    border: none;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.27);
    color: $darkGreen;
    font-family: $nunito;
    font-size: 18px;
    height: 52px;
    margin-top: 40px;
    transition: 0.3s;
    width: 162px;

    &:hover {
        background-color: $lightYellow;
        color: $brown;
        cursor: pointer;
    }
}

@media  (max-width:   1200px) {
    .aboutTile  {
        font-size: 24px;
    }

    .description    {
        font-size: 14px;
    }
    
    .pageIndicator  {
        height: 80%;
    }

    .button {
        height: 40px;
        margin-top: 10px;
    }
}

@media  (max-width: 768px)  {
    .section    {
        flex-direction: column;
        height: 30vh;
    }

    .aboutImage {
        display: none;
    }

    .aboutSection   {
        justify-content: center;
        width: 100%;
    }

    .pageIndicator  {
        display: none;
    }
}