@import '../../../styles/colors.module.scss';
@import '../../../styles/fonts.scss';

.section    {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 116vh;
    width: 100%;
}

.left   {
    background-color: $darkGreen;
    display: flex;
    flex-direction: column;
    min-height: 116vh;
    padding-left: 155px;
    padding-top: 52px;
    width: 45%;
}

.title  {
    color: $vivaceWhite;
    font-family: $pd;
    font-size: 36px;
    font-weight: 100;
    transition: 0.3s;
    
    &:hover {
        color: $goldie;
        cursor: pointer;
    }
}

.subtitle   {
    color: $vivaceWhite;
    font-family: $pd;
    font-size: 48px;
    padding-top: 55px;
}

.description    {
    color: $vivaceWhite;
    font-family: $nunito;
    font-size: 24px;
    padding-top: 45px;
    width: 360px;
}

.button {
    background-color: $goldie;
    border: none;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.27);
    color: $darkGreen;
    font-family: $nunito;
    font-size: 18px;
    height: 52px;
    margin-top: 45px;
    transition: 0.3s;
    width: 268px;
    

    &:hover {
        background-color: $lightYellow;
        color: $brown;
        cursor: pointer;
    }
}

.right  {
    background-color: $goldie;
    display: flex;
    flex-direction: column;
    min-height: 116vh;
    width: 55%;
}

.nav    {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 55px;
}

.links  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 100px;
    transition: 0.2s;
    width: 244px;
}

.anchors    {
    color: $darkGreen;
    font-family: $nunito;
    font-size: 18px;
    text-decoration: none;
    transition: 0.2s;

    &:hover    {
        color: $vivaceWhite;
    }
}

.reservation    {
    background-color: $darkGreen;
    border: none;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.27);
    color: $vivaceWhite;
    font-size: 18px;
    height: 52px;
    margin-left: 120px;
    text-transform: uppercase;
    transition: 0.2s;
    width: 162px;

    &:hover {
        cursor: pointer;
        color: $lightYellow;
        background-color: $vivaceGreen;
    }
}

.image  {
    margin-left: 100px;
    margin-top: 30px;
    width: 524px;
}

@media (max-width: 1200px)  {

    .left   {
        padding-left: 100px;
        min-height: 130vh;
    }

    .right  {
        min-height: 130vh;
    }

    .links  {
        margin-left: 50px;
    }

    .image  {
        margin-left: 50px;
    }
}

@media (max-width: 1100px)  {
    .subtitle  {
        width: 300px;
    }

    .left   {
        padding-left: 50px;
    }

    .description    {
        width: 300px;
    }

    .image  {
        width: 400px;
    }

    .reservation    {
        font-size: 14px;
        margin-left: 50px;
        width: 104px;
    }
}

@media (max-width: 860px)   {
    
    .subtitle   {
        font-size: 36px;
        padding-top: 20px;
    }

    .description    {
        padding-top: 15px;
    }

    .left  {
        padding-left: 15px;
        padding-top: 15px;
    }
    .image  {
        width: 300px;
    }

    .nav    {
        margin-top: 15px;
    }

    .links  {
        width: 200px;
    }

    .anchors    {
        font-size: 14px;
    }

    .reservation    {
        font-size: 14px;
        height: 40px;
        margin-left: 15px;
        width: 90px;
    }
}

@media (max-width: 768px)   {
    .section    {
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .left  {
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .right  {
        width: 100%;
    }

    .nav    {
        align-items: center;
        display: none;
        text-align: center;
    }

    .image  {
        margin: auto;
    }
}