@import '../../../styles/colors.module.scss';
@import '../../../styles/fonts.scss';

.section    {
    background-color: $darkGreen;
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.features   {
    background-color: $goldie;
    margin: 0 auto;
    margin-top: -69px;
    height: 135px;
    width: 1062px;
}

.rooms  {
    margin-left: 155px;
    padding-top: 120px;
}

.title  {
    color: $lightYellow;
    font-family: $pd;
    font-size: 36px;
    font-weight: 100;
    margin-bottom: 30px;
}

.description    {
    color: $lightYellow;
    font-family: $nunito;
    font-size: 24px;
    font-weight: 100;
    margin-top: 30px;
    width: 320px;
}

.roomImages {
    width: 270px;
}

.roomName   {
    align-self: center;
    color: $lightYellow;
    font-family: $nunito;
    font-size: 18px;
    margin-top: 20px;
}

.splideContainer    {
    width: 45%;
    margin-left: 150px;
    margin-top: 130px;

}

.divider    {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.splideCard {
    display: flex;
    flex-direction: column;
}

.features   {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 70px;
}

.descriptions   {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.iconContainers {
    background-color: $vivaceGreen;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    width: 72px;
    height: 72px;
}

.information    {
    color: $vivaceGreen;
    font-family: $nunito;
    font-size: 24px;
    margin-left: 20px;
    width: 180px;
}

.icons  {
    color: $lightYellow;
    margin-left: 12px;
    margin-top: 14px;
    width: 48px;
}

@media  (max-width: 1200px)   {
    .features   {
        margin-top: 0px;
    }

    .description    {
        font-size: 24px;
        margin-top: 20px;
    }

    .roomImages {
        width: 240px;
    }
    
    .splideContainer    {
        margin-left: 90px;
    }

}

@media  (max-width: 1060px)  {
    .features   {
        width: 100%;
    }
    .splideContainer    {
        margin-left: 45px;
    }


    .roomImages {
        width: 200px;
    }
}

@media  (max-width: 956px)  {
    .section{
        height: 105vh;
    }
    .rooms  {
        margin-left: 90px;
    }

    .roomImages {
        width: 300px;
    }
}

@media  (max-width: 880px)  {
    .rooms  {
        margin-left: 45px;
    }

    .information    {
        font-size: 14px;
        width: 120px;
    }

    .iconContainers {
        height: 48px;
        width: 48px;
    }

    .icons  {
        width: 24px;
    }

    .features   {
        height: 70px;
    }
}

@media  (max-width: 768px)  {
    .section    {
        align-items: center;
        flex-direction: column;
        height: 140vh;
        text-align: center;
    }

    .rooms  {
        margin-left: 0px;
        margin-top: 0px;
    }

    .description    {
        font-size: 18px;
    }

    .splideContainer    {
        margin-left: 0px;
        margin-top: 40px;
    }

    .separator  {
        margin-left: 40%;
        text-align: center;
    }
}

@media  (max-width: 657px)  {
    .roomImages {
        width: 200px;
    }
}

@media  (max-width: 580px)  {
    .features   {
        flex-direction: column;
        height: 520px;
    }

    .icons  {
        width: 48px;
    }

    .iconContainers {
        height: 72px;
        width: 72px;
    }

    .descriptions   {
        flex-direction: column-reverse;
    }

    .information    {
        font-size: 24px;
        margin: 0;
        padding: 0;
        text-align: center;
        width: 200px;
    }
}