@import '../../../styles/colors.module.scss';
@import '../../../styles/fonts.scss';

.footer {
    display: flex;
    flex-direction: column;
    min-height: 530px;

}

.section    {
    background-color: $lightYellow;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 110px;
    min-height: 440px;
    padding: 100px;
}

.addresses  {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.addressesTitle {
    color: $darkGreen;
    font-family: $pd;
    font-size: 36px;
    font-weight: 100;
}

.addressesTexts {
    color: $darkGreen;
    font-family: $nunito;
    font-size: 18px;
}

.seal   {
    align-items: center;
    background-color: $goldie;
    display: flex;
    height: 90px;
    width: 100%;

    p   {
        color: $darkGreen;
        font-family: $nunito;
        font-size: 18px;
        margin-left: 150px;
    }
}

.explore    {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 10px;
}

.exploreTitle   {
    color: $darkGreen;
    font-family: $pd;
    font-size: 24px;
    font-weight: 100;
    margin-bottom: -10px;
}

.exploreTexts   {
    color: $darkGreen;
    font-family: $nunito;
    font-size: 18px;
}

.newsletter {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.newsletterTitle    {
    color: $darkGreen;
    font-family: $pd;
    font-weight: 100;
    margin-bottom: 25px;
}

.sign   {
    background-color: transparent;
    border: none;
    border-bottom: $darkGreen 1px solid;
    color: $darkGreen;
    height: 50px;
    margin-right: 20px;
    width: 252px;
}

.button {
    background-color: $darkGreen;
    border: none;
    color: $vivaceWhite;
    font-size: 18px;
    height: 52px;
    width: 121px;
    transition: 0.3s;

    &:hover {
        background-color: $vivaceGreen;
        color: $brown;
        cursor: pointer;
    }
}


.signInSession  {
    display: "flex";
    flex-direction: "row";
    gap: "40px";
}


@media  (max-width: 768px)  {
    .footer {
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .section    {
        padding: 10px;
        flex-direction: column;
        gap: 40px;
        justify-content: center;
        width: 100%;
    }

    .seal   {
        align-items: center;
        justify-content: center;
        text-align: center;
        p   {
            align-items: center;
            text-align: center;
            margin: 0;
            padding: 0;
        }
    }

    .separatorDiv   {
        display: none;
    }
    .addresses  {
        margin: 0;
    }
}

@media  (max-width: 412px)  {
    .button {
        margin-top: 20px;
    }
}