@import '../../../styles/colors.module.scss';
@import '../../../styles/fonts.scss';

.titleForm  {
    color: $darkGreen;
    font-family: $pd;
    font-size: 36px;
    font-weight: 100;
    margin-top: -50px;
    width: 310px;
}

.section    {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 100px 40px;
    justify-content: space-around;

}


.formDiv    {
    display: flex;
    flex-direction: column;
    gap: 42px;
    justify-content: space-between;
}

.form   {
    display: flex;
    flex-direction: column;
    gap: 42px;
    justify-content: space-around;
    margin-top: -20px;
}

.span   {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: -25px 0px;
}

.labels {
    color: $darkGreen;
    font-family: $nunito;
    font-size: 18px;
}

.inputs {
    border: none;
    border-bottom: 1px solid $darkGreen;
    height: 30px;
    padding: 12px;
    width: 432px;
}

.message    {
    border: none;
    border-bottom: 1px solid $darkGreen;
    height: 50px;
    padding: 12px;
    width: 432px;
}

.image  {
    width: 390px;
}

.reservation    {
    background-color: $darkGreen;
    border: none;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.27);
    color: $vivaceWhite;
    font-size: 18px;
    height: 52px;
    text-transform: uppercase;
    transition: 0.2s;
    width: 100%;

    &:hover {
        cursor: pointer;
        color: $lightYellow;
        background-color: $vivaceGreen;
    }
}
